<!DOCTYPE html>
<html>
<head>
  <title>Rapport système - {{ ansible_hostname }}</title>
</head>
<body>
  {% include 'header.j2' %}
  {% include 'body.j2' %}
  {% include 'footer.j2' %}
</body>
</html>
